.lead__image {
  display: block;
  object-fit: cover;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 1140px){
  .lead__image {
    margin: 56px 0 8px;
  }
}

@media screen and (max-width: 984px){
  .lead__image {
    margin: 56px 0 8px;
  }
}

@media screen and (max-width: 640px){
  .lead__image {
  margin-top: 40px;
  width: 100%;
  }
}