.cover__overlay {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-background-size: cover;
  background-image: url('./../../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  margin-top: 5px;
}

.cover__overlay::before {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1140px){
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px){
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 568px){
  .cover__overlay {
    min-height: 200px;
    margin-top: 12px;
    padding-top: 16px;
  }
}