.cover__title {
  margin: -12px 0 16px;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  word-wrap: break-word;
  width: 600px;
}

@media screen and (max-width: 1140px){
  .cover__title {
    max-width: 656px;
  }
}

@media screen and (max-width: 984px){
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 640px){
  .cover__title {
    margin: 0 0 8px;
    font-size: 32px;
    line-height: 35px;
    width: 280px;
  }
}
